doctype html
//
  Paradigm Shift by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title CuantoTiempo
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  meta(name='description' content='')
  meta(name='keywords' content='')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='icon' type='image/png' href='../images/favicon.png')
// Wrapper
#wrapper
  // Intro
  section.intro
    header
      h1
        a#mainTitle(href='/') &iquest;Cuanto Tiempo?
      p
        | Descubre cuanto tiempo tardarias en ver tu serie favorita
      ul.actions
        li
          a.arrow.scrolly(href='#first')
            span.label Next
    .content
      span.image.fill(data-position='center')
        img(src='images/nightking.jpg' alt='')
  // Section
  section#first
    header
      h2 Busqueda
    .content
      form(method='GET' action='/search#first')
        .fields
          .field
            label(for='demo-name') Escribe una serie
            input#demo-name(type='text' name='q' value='' placeholder='Breaking Bad')
        ul.actions
          li
            input.primary(type='submit' value='Buscar')
  // Section
  section
    header
      h2 &iquest;Buscando algo nuevo?
    .content
      p
        | Puedes hacer 
        strong clic
        |  en el poster de la serie que desees
        |             para ver la duracion total.
      // Section
      section
        header
          h3 Estas son las series mas populares del momento.
          p
            | Como es una elecci&oacute;n que despu&eacute;s conlleva muchas horas de placer
            | o de frustraci&oacute;n, vamos a esmerarnos en proponer lo mejor de lo
            | mejor de las series disponibles en Streaming. Lo montamos en
            | orden de popularidad para que nos debatan con ganas, porque los
            | argumentos, ya avisamos, son muy personales.
        .content
          .gallery
            each item in popular
              a(href=`/show/${item.id}#overview`)
                img(src=`https://image.tmdb.org/t/p/w500/${item.poster_path}` alt=`${item.original_name}`)
            
      // Section
      section
        header
          h2 Como funciona
        .content
          p
            strong CuantoTiempo
            |  funciona gracias a la generosa API de The Movie Database, puedes aprender mas sobre ella en los siguientes links
          ul.actions
            li
              a.button.primary.large(href='https://www.themoviedb.org/') The Movie DB
            li
              a.button.large(href='https://developers.themoviedb.org/3') API Info
      // Section
      section
        header
          h2 Contactanos
        .content
          p
            strong Siempre
            |  estamos disponibles para resolver cualquier duda o problema.
          form
            .fields
              .field.half
                input#name(type='text' name='name' placeholder='Nombre')
              .field.half
                input#email(type='email' name='email' placeholder='Email')
              .field
                textarea#message(name='message' placeholder='Mensaje' rows='7')
            ul.actions
              li
                input.button.primary(type='submit' value='Enviar Mensaje')
        footer
          ul.items
            li
              h3 Email
              a(href='mailto:cpiresdev@gmail.com') cpiresdev@gmail.com
            li
              h3 Otros
              ul.icons
                li
                  a.icon.brands.fa-twitter(href='https://twitter.com/terraextra')
                    span.label Twitter
                li
                  a.icon.brands.fa-github(href='https://github.com/Extraterra1')
                    span.label GitHub
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/browser.min.js')
    script(src='assets/js/breakpoints.min.js')
    script(src='assets/js/util.js')
    script(src='assets/js/main.js')
